html, body {
    background: #000;
    height: 100%;
    color: #111;
    position: relative;
}

.body-back {
    background: #111;
}

body a {
    color: #111;
}

p {
    word-break: keep-all;
}

.title {
    position: relative;
    float: left;
    z-index: 999;
    padding: 40px;
    margin-left: 50px;
    height: 100%;
    width: 350px;
}

.title:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    border-left: 1px solid #444;
}

.title .top {
    margin-bottom: 10px;
}

.title h1 {
    margin-bottom: 25px;
    font-size: 45px;
}


.title .box {
    display: inline-block;
    margin-bottom: 10px;
}

.line {
    height: 1px;
    width: 100%;
    margin: 30px auto;
    border-top: 1px solid #4404a8;
}

.title .img-box {
    text-align: left;
}

.title .img-box .img {
    display: inline-block;
    width: 40%;
    margin-bottom: 20px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.menu {
    position: relative;
    height: 100%;
    float: left;
    overflow-x: scroll;
    overflow-x: hidden;
}

.menu:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    border-left: 1px solid #444;
}

.menu .second-line {
    content: '';
    position: absolute;
    left: 50%;
    height: 100%;
    width: 1px;
    border-left: 1px solid #444;
}

.menu .nav {
    position: relative;
    margin-left: 27px;
    margin-bottom: 30px;
}

.menu .nav:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    border-top: 1px solid #4404a8;
}

.menu h1 {
    font-size: 26px;
    line-height: 1.4;
    margin-top: 35px;
}


.menu #comma {
    position: absolute;
    z-index: 1000;
    bottom: -20px;
}


.menu .nav li {
    float: left;
    margin: 30px 0 0 30px;
}

.menu .nav li a {
    color: #808080;
}

.menu .content {
    width: 100%;
    overflow-x: hidden!important;
}

.menu .content .block {
    float: left;
    width: 50%;
    padding: 0 30px 30px 30px;
    overflow-x: hidden!important;
}

.block {
    overflow-x: hidden!important;
}

@media (min-width: 9071px) {
    .menu .content .block {
        overflow: hidden;
    }
}

.menu .content .mr {
    position: relative;
    padding-right: 0;
}

.menu .content .block h1 {
    font-size: 24px;
    line-height: 1.4;
}

.menu .content .block h2 {
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.menu .left-content {
    margin-top: 25px;
    font-size: 18px;
    line-height: 1.7;

}

.menu .content .block .top {
    width: 100%;
    text-align: left;
}

.menu .content .block .bottom {
    width: 50%;
    text-align: left;
    float: left;
}

.menu .content .block .circle,
.menu .content .block .circle2 {
    margin: 0 auto;
    width: 35%;
    border-radius: 50% 50%;
}

.menu .content .block .circle2 {
    width: 70%;
}

.menu .blind {
    float: left;
    content: '';
    width: 15%;
    height: 200px;
}

.menu .number {
    float: left;
    color: #000;
    font-size: 18px;
    width: 30%;
    border-top: 1px solid #000;
    padding-top: 20px;
    padding-right: 20px;
    margin-top: 0;
}

.menu  .hide {
    cursor: pointer;
}

.menu .con {
    float: left;
    width: 70%;
    border-top: 1px solid #000;
    padding-top: 20px;
    margin-top: 0;
    padding-left: 15px;
}


.line-title {
    font-size: 20px;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.menu .con h3 {
    font-size: 18px;
    line-height: 1;
    padding-bottom: 20px;
    cursor: pointer;
}

.menu .con > div {
    margin-top: -10px;
    margin-bottom: 10px;
}

.menu .right-content {
    color: #000;
    line-height: 1.9;
}

.menu .content-label {
    margin-bottom: 10px;
    padding-top: 15px;
}

.menu .con .img {
    width: 100%;
    height: 200px;
    float: left;
    margin-top: 25px;
    margin-bottom: 30px;
    background: #4404a8;
}

.menu .content .block .spirit-img {
    text-align: left;
    width: 100%;
}

.menu .content .block .spirit-img li {
    display: inline-block;
    width: 32%;
    margin-bottom: 30px;
    padding-right: 20px;
    margin-left: 10px;
}

.menu .content .block .link {
    margin-top: 20px;
}

.menu .content .block .link a {
    color: #000;
    border-bottom: 1px solid #000;
    padding-top: 20px;
}

.mt {
    margin-top: 50px;
}

.mt-20 {
    margin-top: 20px;
}

.pd {
    padding: 20px;
}


@media (max-width: 9070px) {
    .title {
        display: none;
    }
    .menu {
        width: 100%;
    }

    .menu:after {
        display: none;
    }

    .menu .block {
        width: 100%;
        padding-top: 0!important;
    }

    #comma {
        display: none;
    }

    .second-line {
        display: none;
    }

    .menu .content .block {
        overflow: hidden;
        padding: 0 30px 0 0;
    }

    .menu .content .block .con .img {
        width: 80%;
    }

    .mr {
        padding: 30px!important;
    }

    .menu .content .block h1 {
        margin-top: 0px;
    }

    .menu .content .block:nth-child(1) h1 {
        margin-top: 20px;
        letter-spacing: 5px;
    }

    .top-fix {
        width: 100%;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        padding-top: 18px;
        background: linear-gradient( to right, #070707 10%, #0a0a0a 20%, #0f0f0f 30%,
        #121212 40%, #151515 50%, #171717 60%, #1a1a1a 70%, #1c1c1c 80%, #1f1f1f 90%,
        #212121 100%);
        height: 75px;
        border-bottom: 1px solid #333;
        text-align: left;
    }

    .top-fix .top-line {
        position: absolute;
        top: 10px;
        left: 0;
        height: 1px;
        width: 100%;
        border-top: 1px solid #333;
    }

    .top-fix .left-line {
        position: absolute;
        top: 20px;
        left: 62px;
        height: 45px;
        width: 1px;
        border-right: 1px solid #333;
    }

    .top-fix .right-line {
        position: absolute;
        top: 20px;
        right: 62px;
        height: 45px;
        width: 1px;
        border-right: 1px solid #333;
    }

    .top-fix .back {
        position: absolute;
        top: 31px;
        left: 20px;
        height: 20px;
        width: 20px;
        cursor: pointer;
    }

    .top-fix .toggle {
        position: absolute;
        top: 29px;
        right: 20px;
        height: 30px;
        width: 20px;
        cursor: pointer;
    }


    .top-fix p {
        font-size: 20px;
        margin-top: 13px;
    }

    .mobile-menu {
        margin-top: 70px;
    }

    .mobile-menu h1 {
        font-size: 20px;
    }

    .mobile-menu ul {
        margin-top: 20px;
        margin-left: 10px;
        display: flex;
        text-align: left;
    }

    .mobile-menu ul a {
        text-align: left;
        display: inline-block;
        flex: auto;
    }

    .mobile-menu ul a p {
        margin-bottom: 10px;
    }

    .toggle-menu {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 999;
        background: #111111;
    }

    .toggle-menu h1 {
        margin-left: 20px;
    }

    .toggle-menu .toggle-line {
        width: 100%;
        height: 1px;
        border-top: 1px solid #333;
        margin-top: 40px;
        margin-bottom: 10px;
    }
}

@media (max-width: 600px) {

    .mobile-menu ul {
        margin-top: 20px;
        display: block;
    }

    .mobile-menu ul a {
        text-align: left;
        display: inline-block;
        width: 18%;
    }

    .mobile-menu ul a p {
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 8px;
    }
}

.newstic .news {
    border: 1px solid #fff;
    padding: 15px 15px 0 30px;
    height: 87px;
}

.gray {
    color: #666;
    padding-left: 5px;
    line-height: 2;
    font-size: 16px;
}


.appro-img,
.sus-img {
    width: 100%;
    max-width: 430px;
}

#con2-c, #con3-c ,#con4-c, #con5-c, #con2-2-c {
    display: none;
}

.ml-30 {
    margin-left: 30px;
}

.fl {
    flex: auto;
}


@media (min-width: 1049px) {
    .lf {
        display: flex;
        margin: 0!important;
    }

    .db {
        margin: 0;
        display: flex;
    }
    .pc-mt-7 {
        margin-top: -7px!important;
    }
}



.lf li {
    flex: auto;
    margin-bottom: 50px;
}

.stra-img {

}

.stra-img .imgs {
    display: inline-block;
    width: 32%;
    padding: 10px;
}

.stra-img p {
    margin-top: 10px;
}

.stra-img-2 {
    display: flex;
}

.stra-img-2 .imgs {
    flex: auto;
    padding: 15px;
}
.stra-img-2 p {
    margin-top: 10px;
}

.h3 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.h4 {
    margin-top: 30px;
    font-size: 22px;
}

.old-list .pro-img {
    float: left;
    width: 23%;
    min-width: 125px;
    max-width: 140px;
    margin-right: 30px;
}

.old-list .pro-info {
    float: left;
    width: 63%;
}

.our-list {
    position: relative;
    border-bottom: 1px solid #000;
    margin-top: 15px;
    padding-bottom: 15px;
}

.chart-f {
    float: left;
    width: 48%;
}

.chart-f .img {
    margin-bottom: 20px!important;
}

.news li {
    width: 100%;
}

.none{display:none}
#ticker{float:left;
    width: 100%;}
.navi{float:right;}
.news-block {border:1px solid rgba(255,255,255,0); padding:15px 0px 15px 15px; height:72px; overflow:hidden;
    width: 100%; font-size:12px;float:left;
    background: rgba(255,255,255,.5);}
.news-block ul,
.news-block li {margin:0; padding:0; list-style:none;
    width: 100%;}
.news-block li {display:block; height:52px; line-height:20px; color:#111; text-decoration:none;}
.news-block span {
    width: 100%;
    color: #444;
    font-size: 13px;
}
.news-block p {
    width: 100%;
    font-size: 14px;
}
@media (max-width: 848px) {
    .news-block {
        padding: 5px 0px 5px 5px;
        height: 53px;
    }
    .news-block span {
        font-size: 10px;
    }
    .news-block p {
        font-size: 11px!important;
    }
    .menu .partners {
        width: 97%!important;
    }

    .menu .partners:last-of-type {
        margin-top: 0!important;
    }
}

.dis-b {
    display: block!important;
}

.menu::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.menu::-webkit-scrollbar
{
    width: 0px;
    background-color: #F5F5F5;
}

.menu::-webkit-scrollbar-thumb
{
    background-color: #000000;
}

.aff-con-menu {
    font-size: 14px;
}

@media (max-width: 1048px) {
    .lf {
        display: block;
        margin: 0!important;
        margin-bottom: 10px;
    }

    .db {
        display: block!important;
        margin: 0!important;
    }
    .menu .number {
        font-size: 16px;
        width: 27%;
    }

    .pr0 {
        padding-right: 0!important;
    }

    .pc-mt-7 {
        margin-top: 0!important;
    }
    .old-list .pro-info {
        float: left;
        width: 95%;
    }
}
